.picture{
  height: 250px;
}
h2{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
h1{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-family: helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
h2.brushes{
  background-color: mediumspringgreen;
}
h2.frames{
  background-color: lightcoral;
}
h2.paints{
  background-color: skyblue;
}
.price{
  color: blue;
  font-family: helvetica;
  font-weight: bold;
}
